<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/styles.css">
  <title>tests</title>
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>

<body>
  <section class="section1">
  <div id="tab">
    <ul class="menu">
      <li @click="isSelect('1')" :class="{'active': isActive === '1'}">タブ1</li>
      <li @click="isSelect('2')" :class="{'active': isActive === '2'}">タブ2</li>
      <li @click="isSelect('3')" :class="{'active': isActive === '3'}">タブ3</li>
    </ul>
    <div class="contents">
      <div v-show="isActive === '1'">
        <p>コンテンツ1</p>
      </div>
      <div v-show="isActive === '2'">
        <p>コンテンツ2</p>
      </div>
      <div v-show="isActive === '3'">
        <p>コンテンツ3</p>
      </div>
    </div>
    </div>

    <script>
      new Vue({
        el: '#tab',
        data: {
          isActive: '1'
        },
        computed: {

        },
        methods: {
          isSelect: function (num) {
            this.isActive = num;
          }
        }
      })
    </script>
</section>

<section class="section2">
  <div id="modal">
    <button @click="openBtn">開く</button>
    <div class="modal" v-show="modalActive === 'true'">
      <div @click="closeBtn" :class="{'modal__back':modalActive === 'true'}"></div>
      <div class="modal__box">
        <p>モーダルウィンドウ</p>
        <button class="closeBtn" @click="closeBtn">閉じる</button>
      </div>
    </div>
  </div>
  
  
  <script>
    new Vue({
      el: '#modal',
      data: {
        modalActive: 'false'
      },
      computed: {

      },
      methods: {
        openBtn: function () {
          this.modalActive = 'true';
        },
        closeBtn: function () {
          this.modalActive = 'false';
        }
      }
    })
  </script>
</section>

<section  class="section3">
  <div id="search">
    <ul>
      <p><input type="text" v-model="search"></p>
      <li v-for="person in searchPersons" :key="person.name">
        <p v-text="person.name"></p>
  
      </li>
    </ul>
  </div>
  
  <script>
    const vm = new Vue({
      el: '#search',
      data: {
        search: '',
        persons: [
          {
            name: '田中太郎',
          },
          {
            name: '田中次郎',
          },
          {
            name: '鈴木太郎',
          },
          {
            name: '鈴木次郎',
          },
        ]
      },
      computed: {
        searchPersons: function () {

          var persons = [];

          for (var i in this.persons) {

            var person = this.persons[i];

            if (person.name.indexOf(this.search) !== -1) {
              persons.push(person);
            }
          }
          return persons;
        }
      }
    })
  </script>
  </section>
</body>

</html>